# System files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebooks
.ipynb_checkpoints/

# YOLOv8 Outputs
runs/
yolov8*.pt

# Datasets
car-damage-labeled-yolo/
datasets/

# Generated config
damage_config.yaml

# Virtual Environment
venv/
env/
.env
